.parent-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .centered-button {
    background-color: #356adc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .centered-button:hover {
    background-color: #2331c8;
  }
  